@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    background-image: url("/photo/main-welcome-page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

form {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4c81af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}